# SPDX-License-Identifier: GPL-3.0-only
#
# Copyright (C) 2021 ImmortalWrt.org

name: Update Mirror

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: 0 */8 * * *

jobs:
  update-mirror:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        branch:
          - openwrt-18.06
          - openwrt-18.06-k5.4
          - openwrt-21.02
          - master
      fail-fast: false
      max-parallel: 1

    steps:
      - name: Checkout the Repo
        uses: actions/checkout@v2

      - name: Init Compilation Dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo -E apt-get -qq update
          sudo -E apt-get -qq install build-essential libncurses5-dev binutils bzip2 coreutils gawk gettext git patch zlib1g-dev subversion git-core gcc g++ p7zip-full libssl-dev autoconf automake libtool autopoint curl wget vim nano python3 python3-pip xz-utils tar unzip
          sudo -E -H pip3 install -r aliyundrive-uploader/requirements.txt
          sudo -E apt-get -qq clean

      - name: Checkout ImmortalWrt Source Tree on Branch ${{ matrix.branch }}
        uses: actions/checkout@v2
        with:
          repository: "immortalwrt/immortalwrt"
          ref: ${{ matrix.branch }}
          path: "immortalwrt"

      - name: Update Feeds
        run: |
          cd "immortalwrt"
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: Remove Download Mirrors
        run: sed -i -e "/unshift @mirrors/d" "immortalwrt/scripts/download.pl"

      - name: Download Packages
        run: |
          cd "immortalwrt"
          echo -e "CONFIG_ALL=y" > ".config"
          make defconfig
          make download -j128
          find dl -size -1024c -exec rm -f {} \;

      - name: Fetch Cached Uploaded Files List
        uses: actions/cache@v2
        with:
          path: "uploaded-files"
          key: immortalwrt-mirror-uploaded-${{ matrix.branch }}-${{ github.run_id }}
          restore-keys: |
            immortalwrt-mirror-uploaded-

      - name: Fetch Cached Uploader Keys
        uses: actions/cache@v2
        with:
          path: "uploader-keys"
          key: immortalwrt-mirror-uploader-${{ github.run_id }}
          restore-keys: |
            immortalwrt-mirror-uploader-

      - name: Upload Files to OneDrive
        env:
          UPLOADER_TYPE: "onedrive"
          UPLOADER_INFO: ${{ secrets.UPLOADER_INFO }}
          UPLOADER_CONF: "uploader.json"
        run: |
          ./uploader-cache/detect-upload-files.sh
          [ "$(ls -A "package-sources"/* | wc -l)" -gt "0" ] || exit 0
          [ -f "uploader-keys/$UPLOADER_TYPE.json" ] && cp -f "uploader-keys/$UPLOADER_TYPE.json" "$UPLOADER_CONF"
          [ -f "$UPLOADER_CONF" ] || echo -e "$UPLOADER_INFO" > "$UPLOADER_CONF"
          ./onedrive-uploader/OneDriveUploader -f -c "$UPLOADER_CONF" -s "package-sources" -r "immortalwrt"
          ./uploader-cache/gen-downloaded-hash.sh
          [ -d "uploader-keys" ] || mkdir -p "uploader-keys"
          cp -f "$UPLOADER_CONF" "uploader-keys/$UPLOADER_TYPE.json"


      - name: Upload Files to AliyunDrive
        env:
          UPLOADER_TYPE: "alidrive"
          ALI_DRIVE_ID: ${{ secrets.ALI_DRIVE_ID }}
          ALI_REFRESH_TOKEN: ${{ secrets.ALI_REFRESH_TOKEN }}
        run: |
          ./uploader-cache/detect-upload-files.sh
          [ "$(ls -A "package-sources"/* | wc -l)" -gt "0" ] || exit 0
          pushd aliyundrive-uploader
          [ -f "../uploader-keys/$UPLOADER_TYPE.json" ] && cp -f "../uploader-keys/$UPLOADER_TYPE.json" "config.json"
          [ -f "config.json" ] || ./gen-alidriveconf.sh
          python3 main.py
          popd
          ./uploader-cache/gen-downloaded-hash.sh
          [ -d "uploader-keys" ] || mkdir -p "uploader-keys"
          cp -f "aliyundrive-uploader/config.json" "uploader-keys/$UPLOADER_TYPE.json"

  cleanup-workflow-runs:
    runs-on: ubuntu-18.04
    needs: update-mirror
    steps:
      - name: Cleanup Workflow Runs
        uses: GitRML/delete-workflow-runs@v1.2.1
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 7
